<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>

<body>
    <form action="/register" method="post">
        <h2>register</h2>
        <div class="input-field">
            <input type="text" name="idUser" id="idUser" placeholder="Enter ID">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>
            <input type="submit" value="register">
    </form>
</body>
</html>
